<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.certis_base_app">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".AppConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.onboarding.registration.RegisterStep1Step2Activity_"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.onboarding.registration.RegisterStep3Activity_"
            android:configChanges="orientation|screenSize"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.onboarding.CameraPreviewSubmitActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.onboarding.login.LandingActivity_"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.onboarding.registration.RegisterStep4Activity_"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.onboarding.login.SigninCameraAuthActivity_"
            android:configChanges="orientation|screenSize"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.onboarding.login.SigninPasswordActivity_"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.onboarding.login.SigninFailedActivity" />
        <activity
            android:name=".ui.officerDashboard.OfficerMonitoringActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.messaging.MessagingActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.incidentManagement.IncidentManagementActivity_"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".ui.taskManagement.TaskManagementActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.createTask.CreateTaskActivity_"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ui.createTask.TaskCalenderActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>